
header{  
    color: rgba(4, 25, 119, 0.993);
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}
button{
    background-color: rgb(16, 16, 196);
    color: whitesmoke;
    padding: 5px;
    border-color:rgb(16, 16, 196) ;
}

